<h1>This is my help page</h1>

<br>
<br>
<div style="display: flex; justify-content: center;">
  <div style="border: thin solid #DDD; border-radius: 10px; overflow: hidden; width: 500px; padding: 5px">
    <div style="border-radius: 10px; display: flex; overflow: hidden;"><img style="width: 100%; height: auto;" src="https://i1.wp.com/www.theastuteadvisor.com/wp-content/uploads/2017/02/Fotolia_101554982_S.jpg"></div>
  </div>
</div>