$navbar-default-bg: #55301B;
$href-hover: #828487;

@import "bootstrap-sprockets";
@import "bootstrap";

.btn-xlarge {
  background-color: $navbar-default-bg;
  color: #FFF;
}
.btn-xlarge:hover {
  background-color: #828487;
  color: #FFF;
}
a,
.btn {
  transition: all 0.5s ease-out;
}
#logo {
  float: left;
  font-size: 1.2em;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: bold;
}
#logo:hover {
  text-decoration: none;
  color: #9E9E9E;
}

.center {
  text-align: center; 
}
.row {
  margin-top: 60px;
}
.jumbotron {
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.7)), asset-url("cover-bg.jpg");
  background-size: cover;
  height: 325px;
}
.jumbotron h1, .jumbotron h2 {
  color: #FFF;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: -1px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
.bg-dark {
  background-color: #373f50 !important;
}
.bg-dark h3, .bg-dark h2, .bg-dark .text-muted {
  color: #FFF;
}
.description {
  margin-top: 0;
}
.well a,
.colormatch a {
  color: $navbar-default-bg;
}
.well a:hover,
.colormatch a:hover {
  color: $href-hover;
  text-decoration: none;
}
.chef_info {
  margin-top: 10px;
}
.image-circle {
  border-radius: 50%;
}