<% obj.each do |resume| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
        <%= gravatar_user(resume.user, size: 120) %>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to resume.name, resume_path(resume) %></h4>
      <p><%= truncate(resume.description, length: 150) %></p>
      <p>
        <span class="quiet">Created <small><%= time_ago_in_words(resume.created_at) %> ago</small></span>
      </p>
    </div>
  </div>

<% end %>