<footer class="border-top bg-dark py-5">
  <div class="container text-center pt-3 pt-lg-4">
    <h3 class="font-weight-light">Still not convinced?</h3>
    <h2 class="pb-4">Add premium support and lifetime updates to this.</h2>
    <hr class="my-5">
    <div class="font-size-ms text-muted text-center">© All rights reserved. Made by 
      <%= link_to "MyGizmo", root_path, class: "text-muted" %>
    </div>
  </div>
</footer>